body {
    background-image: linear-gradient( rgba(248, 241, 241, 0.87), rgba(243, 243, 243, 0.904)), url(photos/fone.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1440px;
}

.fone {
    background-position-x: 70px;
    margin-top: -20px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.header {
    text-align: center;
    margin-top: -10px;
    color: white;
    display: flex;
    justify-content: space-around;
    height: 60px;
    background-color: rgb(139, 25, 25);
}

.main_header{
    margin-left:80px;
    margin-top: 20px;
}
.main_header ul{

     align-items: center;
     margin-top:-7px;
     height: 60px;
     display: flex;
     list-style: none;
}
 .main_header a{
     margin-left: 60px;
     text-decoration: none;
     font-size:15px ;
     color: rgb(139, 25, 25);
     font-weight: bolder;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     letter-spacing: 1px;
     transition: font-size 0.3s;
     
 
 }
 .main_header a:hover{
      font-size: 16px;
      text-decoration:overline;
 }
 .reser{
     font-weight: bolder;
    text-decoration: overline;
 }

.inform {
    background-image: linear-gradient( rgba(248, 241, 241, 0.84), rgba(243, 243, 243, 0.854), url(photo-1546549032-9571cd6b27df.jpeg));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1440px;
    display: flex;
    margin-top: -10px;
}

.text {
    margin-top: 45px;
}

.text h3 {
    font-size: 27px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 228px;
}

.cent {
    margin-left: 250px;
    font-size: 18px;
}

.cent1 {
    margin-left: 325px;
    font-size: 18px;
}

.cent2 {
    margin-left: 230px;
    font-size: 18px;
}

.text a {
    text-decoration: none;
    color: rgb(139, 25, 25);
    margin-left: 300px;
    font-size: 18px;
}

.norm {
    font-size: 18px;
    margin-top: -1px;
    margin-left: 290px;
}

.left {
    font-size: 18px;
    margin-top: -1px;
    margin-left: 285px;
}

.date p {
    margin-top: -29px;
    margin-left: 310px;
}

.photodiv img {
    margin-left: 140px;
}

.vl {
    border-left: 6px solid rgb(139, 25, 25);
    height: 500px;
    margin-left: 260px;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 600px;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 500px;
    width: 100%;
    position: absolute;
}

a.button7 {
    display: inline-block;
    padding: 0.7em 1.7em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    background-color: rgb(139, 25, 25);
    box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17), inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
    text-align: center;
    position: relative;
    top: 370px;
    left: 660px;
}

a.button7:active {
    box-shadow: inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
}

@media all and (max-width:30em) {
    a.button7 {
        display: block;
        margin: 0.4em auto;
    }
}

.hrd {
    margin-top: -90px;
}

footer {
    position: fixed;
    bottom: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

.footer-distributed {
    background-color: rgb(139, 25, 25);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: rgb(255, 255, 255);
    font-family: 'Gwendolyn', cursive;
    font-size: 60px;
    margin: 0;
}

.footer-distributed .footer-left img {
    width: 30%;
}

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer-distributed .footer-center p span {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: white;
    text-decoration: none;
    ;
}

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}

@media (max-width: 600px) {
    .text h3 {
        margin-left: 170px;
    }
    .cent {
        margin-left: 180px;
        width: 300px;
    }
    .cent1 {
        margin-left: 260px;
    }
    .cent2 {
        margin-left: 150px;
    }
    .text12 {
        margin-left: -60px;
    }
    .date {
        margin-left: -60px;
    }
    .inform {
        display: block;
    }
    .vl {
        border: none;
    }
    .photodiv img {
        margin-top: -480px;
        margin-left: 90px;
    }
}



.nav{
    display: none;
  
  }
  .nav label{
     font-size: 45px;
     
  }
  #toggle{
      display: none;
  }
  @media(max-width:500px){
    #toggle:checked + .first {
     display: none;
     
      
    } 
    .nav {
      
      display: block;
       cursor: pointer;
       margin-top: -50px;
       margin-left: 20px;
   }
  .main_header{
   margin-top: -10px;
   margin-left: -2px;
   
  
  }
  .main_header li{
    padding: 16px;
    background-color:  rgb(139, 25, 25);
  }
    .main_header a{
    
      color: #ffffff;
      font-size: 14px;
     
    }
    
    .main_header ul{
      
      display: inline;
      justify-content: space-evenly;
      
      
    }
    
    
    .header{
    
      visibility: hidden;
    }
    .photodiv{
        margin-left: -50px;
    }
    .text{
        margin-left: -50px;
    }
}
