body {
    font-weight: 400;
    color: #fff;
    letter-spacing: 1px;
    
}
.header{
    text-align: center;
    margin-top: -10px;
    color: white;
    display: flex;
    justify-content: space-around;
    height: 60px;
    background-color: rgb(139, 25, 25);

}
.main_header{
    margin-left: 50px;
    margin-top: 20px;
    
}
.main_header ul{
    
     align-items: center;
     margin-top:-10px;
     height: 60px;
     display: flex;
     list-style: none;
     
}
 .main_header a{
     margin-left: 54px;
     text-decoration: none;
     font-size:15px ;
     color: white;
     font-weight: bolder;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     letter-spacing: 1px;
     transition: font-size 0.3s;
     display: flex;
     position: relative;
 
 }
 .main_header a:hover{
    font-size: 16px;
    text-decoration: overline;
 }
 .reser{
    font-weight: bolder;
    text-decoration: overline;
 }
.back{
    background-image:  linear-gradient(to bottom, rgba(151, 148, 148, 0.52), rgba(70, 55, 55, 0.73)), url(sdr.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
}
.qwerty{
    margin-left: -1200px;
}
.jkl{
    margin-left: -200px;
    margin-right: 130px;
}
.mit{
    margin-left: -250px;
}
.container {
    margin: 200px;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, .1);
    display: grid;
    grid-template-columns: 40% 60%;
    margin-right: -100px;
}
.card img{
    background-color: rgba(0, 0, 0, .95);
    padding: 10px;
    text-align: center;
    width: 400px;
    height: 533px;
    margin-left: 90px;
}

.reservation h2 {
    margin-left: 60px;
    margin-top: -10px;
    font-size: 60px;    
    font-family: 'Gwendolyn', cursive;
    font-weight: bold;
}
    
.reservation{
    padding: 15px 0;
    padding-right: 35px;
    margin: 0 auto;
    background-color: rgb(48, 48, 48);
    display: flex;
    margin-left: -240px;
}
form {
    display: grid;
    grid-row-gap: 20px;
}
form p {
    font-weight: 600;
}
.form-field {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
}
    
input,select {
    padding: 10px 15px;
}
.btn {
    margin-left: 80px;
    background-color: rgba(148, 17, 17, 0.95);
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    box-shadow: 7px 10px 12px rgba(0, 0, 0, .1);
    cursor: pointer;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
    
.btn:hover {
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
    box-shadow: 10px 12px 15px rgba(0, 0, 0, .3);
}
footer{ 
    margin-top: 0;
	position: fixed;
	bottom: 0;
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}


.footer-distributed{
   
	background-color: rgb(139, 25, 25);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;

}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 30%;
}

.footer-distributed h3{
    color: rgb(255, 255, 255);
    font-family: 'Gwendolyn', cursive;
    font-size: 60px;
	margin: 0;
}

/* The company logo */

.footer-distributed .footer-left img{
	width: 30%;
}


/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}



.footer-distributed .footer-center{
	width: 35%;
}


.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  white;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 30%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */


@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
  